{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load admin_static i18n fb_tags fb_versions %}
{% load url from future %}

<!-- STYLESHEETS -->
{% block extrastyle %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "filebrowser/css/filebrowser.css" %}" />
{% endblock %}


<!-- JAVASCRIPTS -->
{% block javascripts %}
     {{ block.super }}
     <script language="javascript" type="text/javascript" src="{% static "filebrowser/js/FB_FileBrowseField.js" %}"></script>
    {{ media }}
{% endblock %}

<!-- COLTYPE/BODYCLASS -->
{% block bodyclass %}grp-change-form grp-filebrowser{% if query.pop %} grp-popup{% endif %}{% endblock %}
{% block content-class %}{% endblock %}

<!-- BREADCRBUMBS -->
{% block breadcrumbs %}{% include "filebrowser/include/breadcrumbs.html" %}{% endblock %}

<!-- CONTENT -->
{% block content %}
<div id="grp-content-container">
   
    
    <form action="{% query_string "" "filter_date,filter_type,q,p" %}" method="post">{% csrf_token %}

        {% if form.errors %}<p class="errornote">{% trans 'There was a problem with this server path.' %}</p>{% endif %}
        
            {% for field in form %}
                {% if field.errors %}<ul class="errorlist">{{ field.errors }}</ul>{% endif %}
                {{ field.label }}{{ field }}
            {% endfor %}
            <br />
        
        <div class="submit-row">
            <input type="submit" value="{% trans 'Move file' %}" class="default" />
        </div>

    </form>    

</div>
{% endblock %}
